@model IEnumerable<Prigione.Models.VerbaleModel>
@{
    ViewData["Title"] = "Verbali";
}

<h3 class="mt-3">Aggiungi verbale</h3>
<form asp-controller="Verbali" asp-action="Create" method="post" class="mb-3">
    <div class="d-flex">
        <input type="text" name="DataViolazione" class="form-control mb-1 me-1 w-25" placeholder="DataViolazione..." required />
        <input type="text" name="IndirizzoViolazione" class="form-control mb-1 w-25" placeholder="IndirizzoViolazione..." required />
    </div>

    <div class="d-flex">
        <input type="text" name="DataVerbale" class="form-control mb-1 me-1 w-25" placeholder="DataVerbale..." required />
        <input type="text" name="Importo" class="form-control mb-1 w-25" placeholder="Importo..." required />
    </div>

    <div class="d-flex">
        <input type="text" name="DecurtamentoPunti" class="form-control mb-1 me-1 w-25" placeholder="DecurtamentoPunti..." required />
        <input type="text" name="TrasgressoreID" class="form-control mb-1 me-1 w-25" placeholder="TrasgressoreID..." required />
    </div>

    <div class="d-flex">
        <input type="text" name="ViolazioneID" class="form-control mb-1 me-1 w-25" placeholder="ViolazioneID..." required />
    </div>

    <button type="submit" class="btn btn-outline-success mt-3">+</button>
</form>

<h3 class="mt-3 text-center">Lista verbali (@Model.Count())</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>VerbaleID</th>
            <th>DataVerbale</th>
            <th>Violazione</th>
            <th>DataViolazione</th>
            <th>IndirizzoViolazione</th>
            <th>Importo</th>
            <th>DecurtamentoPunti</th>
            <th>Trasgressore</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var v in Model)
        {
            <tr>
                <td>@v.VerbaleID</td>
                <td>@v.DataVerbale</td>
                <td>@v.ViolazioneID</td>
                <td>@v.DataViolazione</td>
                <td>@v.IndirizzoViolazione</td>
                <td>@v.Importo</td>
                <td>@v.DecurtamentoPunti</td>
                <td>@v.TrasgressoreID</td>
            </tr>
        }
    </tbody>
</table>